@model IEnumerable<GroupViewModel>

<ul>
    @foreach (var group in Model)
    {
        <li>@group.Name 
            <a asp-controllers="Groups" asp-action="Details" asp-route-id="@group.Id">Edit</a>
        </li>
    }
</ul>
<br/>
<a asp-controllers="Groups" asp-action="Create">
    Create
</a>